<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.rk0cc.flutter.example.cupertino_calendar_date_remind_view_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
